<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="future.mybatis.simple.mapper.UserMapper">
    <resultMap id="userMap" type="future.mybatis.simple.model.SysUser">
        <id property="id" column="id" />
        <result property="userName" column="user_name"/>
        <result property="userPassword" column="user_password"/>
        <result property="userEmail" column="user_email"/>
        <result property="userInfo" column="user_info"/>
        <result property="headImg" column="head_img"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <select id="selectById" resultMap="userMap">
        SELECT * FROM sys_user WHERE id = #{id}
    </select>

<!--    <select id="selectAll" resultType="future.mybatis.simple.model.SysUser">-->
<!--        SELECT id,-->
<!--            user_name userName,-->
<!--            user_password userPassword,-->
<!--            user_email userEmail,-->
<!--            head_img headImg,-->
<!--            user_info userInfo,-->
<!--            create_time createTime-->
<!--        FROM sys_user-->
<!--    </select>-->

  <!--  开启 mapUnderScoreToCamelCase=true  -->
    <select id="selectAll" resultType="future.mybatis.simple.model.SysUser">
        SELECT id, user_name, user_password, user_email, head_img, user_info, create_time FROM sys_user
    </select>
</mapper>